/lib.xml
/Maven__antlr_antlr_2_7_7.xml
/Maven__aopalliance_aopalliance_1_0.xml
/Maven__c3p0_c3p0_0_9_1_2.xml
/Maven__com_beust_jcommander_1_48.xml
/Maven__com_fasterxml_classmate_1_3_0.xml
/Maven__com_github_springtestdbunit_spring_test_dbunit_1_2_0.xml
/Maven__com_google_code_gson_gson_2_5.xml
/Maven__com_h2database_h2_1_4_192.xml
/Maven__commons_collections_commons_collections_3_2_1.xml
/Maven__commons_dbcp_commons_dbcp_1_4.xml
/Maven__commons_io_commons_io_2_4.xml
/Maven__commons_logging_commons_logging_1_2.xml
/Maven__commons_pool_commons_pool_1_5_4.xml
/Maven__dom4j_dom4j_1_6_1.xml
/Maven__javax_annotation_jsr250_api_1_0.xml
/Maven__javax_el_el_api_2_2.xml
/Maven__javax_enterprise_cdi_api_1_1.xml
/Maven__javax_inject_javax_inject_1.xml
/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
/Maven__javax_servlet_jstl_1_2.xml
/Maven__javax_servlet_servlet_api_2_3.xml
/Maven__javax_validation_validation_api_1_1_0_Final.xml
/Maven__jaxen_jaxen_1_1_6.xml
/Maven__junit_junit_4_12.xml
/Maven__net_java_dev_javacc_javacc_5_0.xml
/Maven__net_sourceforge_pmd_pmd_core_5_5_1.xml
/Maven__net_sourceforge_saxon_saxon_9_1_0_8.xml
/Maven__net_sourceforge_saxon_saxon_dom_9_1_0_8.xml
/Maven__org_apache_commons_commons_lang3_3_4.xml
/Maven__org_apache_geronimo_specs_geronimo_jta_1_1_spec_1_1_1.xml
/Maven__org_apache_logging_log4j_log4j_api_2_6_2.xml
/Maven__org_apache_logging_log4j_log4j_core_2_6_2.xml
/Maven__org_apache_logging_log4j_log4j_slf4j_impl_2_6_2.xml
/Maven__org_beanshell_bsh_2_0b4.xml
/Maven__org_dbunit_dbunit_2_4_9.xml
/Maven__org_glassfish_javax_json_1_0_4.xml
/Maven__org_hamcrest_hamcrest_core_1_3.xml
/Maven__org_hibernate_common_hibernate_commons_annotations_5_0_1_Final.xml
/Maven__org_hibernate_hibernate_core_5_2_2_Final.xml
/Maven__org_hibernate_hibernate_entitymanager_5_2_2_Final.xml
/Maven__org_hibernate_hibernate_validator_5_2_4_Final.xml
/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
/Maven__org_javassist_javassist_3_20_0_GA.xml
/Maven__org_jboss_jandex_2_0_0_Final.xml
/Maven__org_jboss_logging_jboss_logging_3_3_0_Final.xml
/Maven__org_jboss_spec_javax_interceptor_jboss_interceptors_api_1_1_spec_1_0_0_Beta1.xml
/Maven__org_mockito_mockito_all_1_10_19.xml
/Maven__org_ow2_asm_asm_5_0_4.xml
/Maven__org_slf4j_slf4j_api_1_7_21.xml
/Maven__org_springframework_security_spring_security_acl_4_0_4_RELEASE.xml
/Maven__org_springframework_security_spring_security_config_4_0_4_RELEASE.xml
/Maven__org_springframework_security_spring_security_core_4_0_4_RELEASE.xml
/Maven__org_springframework_security_spring_security_taglibs_4_0_4_RELEASE.xml
/Maven__org_springframework_security_spring_security_web_4_0_4_RELEASE.xml
/Maven__org_springframework_spring_aop_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_beans_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_context_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_core_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_expression_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_jdbc_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_orm_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_test_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_tx_4_0_4_RELEASE.xml
/Maven__org_springframework_spring_web_4_3_3_RELEASE.xml
/Maven__org_springframework_spring_webmvc_4_3_3_RELEASE.xml
/Maven__org_testng_testng_6_9_4.xml
